.topnav  {
    margin-bottom: 2.5em;
}

.topnav ul>li {
    margin: 0.5em;
    padding: 0;
    display:inline;
}

.topnav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow: hidden;
    /*text-align: center;*/
}

.topnav {
    border-bottom: 1px solid #ecf0f1;
    border-top: 1px solid #ecf0f1;
    margin-bottom: 2em;
    /*text-align: center;*/
    margin: 20px 50px 2em 50px;
    margin-bottom: 2em;
    max-width: 100%;
}

.topnav ul li a {
    /*display: block;*/
    padding: .5em 0;
}

.topnav div{
	float: right;
	display: inline;
}

.topnav input{margin-top: 4px;line-height: 1.3em;}
.topnav button{font-size: 16px;}

.post-near{
	list-style: none;
    margin: 30px 0;
    padding: 0;
    color: #999;
}
.post-near li {
    margin: 10px 0;
}
#comments {
    /*padding-top: 15px;*/
}

.respond .cancel-comment-reply {
    /*float: right;*/
    /*margin-top: 15px;*/
    /*font-size: .92857em;*/
}

#comment-form label {

    display: block;
    /*margin-bottom: .5em;*/
    font-weight: bold;

}
#comment-form input{
	width: 400px;
}

